<!--<div class="modal-dialog">
	<div class="modal-content">-->
		<div class="modal-header">
			<h3 class="modal-title">Check In Customer {{booking.FirstName}} {{booking.LastName}} </h3>
		</div>
		<div class="modal-body">
			<div>
				<div class="col-md-4">
					<span>Hotel: {{booking.CheckInHotelAddress}}, Airport:  {{booking.Airport}}</span>
				 </div>
				 <div class="col-md-4">
					<span>Package: {{booking.PackageId}}, Nights:  {{booking.Nights}}</span>
				 </div>
			</div>
			<form name="checkInBookingForm" role="form">
				<div class="form-group">
				  <div class="col-md-4">
					<input type="text" class="form-control" required placeholder="Check In Time" ng-model="booking.CheckInTime">      
				  </div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()" ng-disabled="checkInBookingForm.$invalid">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	<!--</div>
</div>-->